

.form-transaction {
    border: 1px solid var(--bg-button);
    display: flex;
    flex-direction: column;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 20px;
    gap: 10px;
}

.form-transaction input, .form-transaction select {
    background-color: var(--bg-card);
    color: var(--text-color);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 1px 0;
}

.form-transaction input:focus, .form-transaction select:focus {
    border: 1px solid var(--text-color); 
    box-sizing: border-box; 
    outline: none;
    margin: 0;
}

.select-box, .input-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-box > span {
    font-size: small;
    color: var(--text-color);
    position: absolute;
    bottom: -18px;
}

.input-value {
    position: absolute;
    top: 2rem;
    right: 8px;

}

.flex-below {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.flex-below > div {
    width: 48%;
}


.form-transaction button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 0;
}

.Mesage-error {
    color: red;
    margin: 0;

}



@media (max-width:320px) {
    .form-transaction {
        max-width: 90vw;
    }
}



