
.radio-box {
    position: relative;
}


.nav-type {
    display: flex;
    gap: 10px;
}

.radio-box>button {
    background-color: var(--bg-button);
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 10px;
    border: none;
}

.radio-box>.selected {
    background-color: var(--primary-color);
    color: white;
}

.info-list h2 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 27px;
}

.header-transaction {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.list-transaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    width: 50vw;
}

.list {
    
    padding: 0;
    display: flex;
    flex-direction: column;
}

@media (max-width:900px) {
    .list-transaction {
        width: 48vw;
    }

    #body {
        padding: 20px 6vw;
    }
  
}

@media (max-width:790px) {
    .list-transaction {
        width: 45vw;
    }

    #body {
        box-sizing: border-box;
        padding: 20px 4vw;
    }
  
}

@media (max-width:790px) {
    .list-transaction {
        width: 42vw;
    }
  
}

@media (max-width:635px) {
    .info-list h2 {
        font-size: 4.2vw;
        width: 85vw;
        margin-bottom: 27px;
    }

    .header-transaction h3 {
        width: 70vw;
    }

    .info-list img {
        width: 85vw;
        max-width: 300px;
    }
}


