
.radio-box {
    position: relative;
}


.nav-type {
    display: flex;
    gap: 10px;
}

.radio-box>button {
    background-color: var(--bg-button);
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 10px;
    border: none;
}

.radio-box>.selected {
    background-color: var(--primary-color);
    color: white;
}

.info-list h2 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 27px;
}

.header-transaction {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.list-transaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.list {
    width: 60vw;
    padding: 0;
}


