
.transation-item h3 {

    text-decoration: none;
    border: none;
    width: 70%;
    align-self: flex-start;
    margin: 0;
    margin-bottom: 5px;
 
}

.transation-item {
    padding: 8px 10px 40px 10px;  
    background-color: var(--bg-card); 
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    position: relative;
}

.Entrada {
    border-left: 3px solid #03B898;
}

.Despesa {
    border-left: 3px solid var(--bg-button);
}

.transation-item > div > span {
    position: absolute;
    color: var(--text-color);
    bottom: 20px;
    text-transform: capitalize;
}

.transation-item > div {
    display: flex;
    width: 100%;
    height: 70%;
}

.transation-item > div > h5 {
    align-self: flex-end;
    margin: 0;
    width: 25%;
    color: var(--text-color);
    
}

.transation-item > div > button {
    height: fit-content;
    align-self: flex-end;
    margin: 0;
    background-color: var(--bg-button);
    color: var(--text-color);
    border: none;
    padding: 4px;
    border-radius: 5px;
}